<article class="big-img-cta {{classes}}">
    {{#if @member}}
        <div class="big-img-cta__img">
            {{> image
                image_type="site"
                image_class="lazyload"
                image_url=@custom.hero_cta_background_image
                size_l=true
                loading="lazy"
            }}
        </div>
    {{else}}
        <a href="{{@site.url}}/sign-up" class="btn big-img-cta__link">{{t "Subscribe"}}</a>
        <div class="big-img-cta__img">
            <svg style="height: auto;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="602" viewBox="0 0 1240 602" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C8.95431 0 0 8.95432 0 20V582C0 593.046 8.95432 602 20 602H799H953H1218C1230.15 602 1240 592.15 1240 580V89C1240 77.9543 1231.05 69 1220 69H973C961.954 69 953 60.0457 953 49V20C953 8.9543 944.046 0 933 0H20Z" fill="url(#pattern0)"/>
                <defs>
                    <pattern id="pattern0" patternUnits="userSpaceOnUse" width="100%" height="100%">
                        <image xlink:href="{{@custom.hero_cta_background_image}}" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                    </pattern>
                </defs>
            </svg>
        </div>
    {{/if}}
</article>