{{^if @member}}
    <article class="cta {{classes}} flex flex-col {{^match classes '=' 'cta_footer'}} items-center {{/match}}">
        {{#match classes "=" 'cta_footer'}}
            <h4 class="cta__title heading-4">{{@custom.cta_section_title}}</h4>
        {{else}}
            <h2 class="cta__title heading-2">{{@custom.cta_section_title}}</h2>
        {{/match}}
        <form action="#" class="cta__form flex items-center">
            <input class="cta__form-input" placeholder="Your e-mail@gmail.com" type="email">
            <button class="cta__form-button btn">{{@custom.cta_section_button_text}}</button>
        </form>
    </article>
{{/if}}