<header class="header">
    <div class="container wrapper flex content-space-b items-center">
        {{#link href=@site.url class="header__brand"}}
            {{#if @site.logo}}
                {{!-- Site logo --}}
                {{> image
                image_type="site"
                image_class="lazyload header__logo"
                image_url=@site.logo
                size_s=true
                size_m=true
                loading="lazy"
                }}
            {{else}}
                {{!-- Site Title --}}
                <span class="header__title">{{@site.title}}</span>
            {{/if}}
        {{/link}}

         {{!-- Menu --}}
        <nav class="header__menu flex">
            {{!-- Main navigation --}}
            {{navigation classes="flex"}}
        </nav>

        <div class="header__buttons flex items-center">
            {{!-- Native Search --}}
            <button class="header-search__toggle" data-ghost-search title="{{t "Search"}}" aria-label="{{t "Search"}}">
                {{> icon name='search'}}
            </button>

            {{!-- Sign in Button --}}
            {{#if @site.members_enabled}}
            {{#if @member.paid}}
            {{else if @member}}
                {{!-- nothing --}}
            {{else}}
                <a href="/sign-in/" class="btn signin-link">{{t "Sign in"}}</a>
            {{/if}}
            {{/if}}

            {{!-- Member--}}
            {{#if member}}
               <a href="{{@site.url}}/account/" class="header__user">
                    {{> icon name='account'}}
                </a>
            {{/if}}
        </div>
    </div>
</header>