<header class="header">
    <div class="container wrapper flex content-space-b items-center">
        {{#link href=@site.url class="header__brand"}}
            {{#if @site.logo}}
                {{!-- Site logo --}}
                {{> image
                image_type="site"
                image_class="header__logo"
                image_url=@site.logo
                size_s=true
                size_m=true
                }}
            {{else}}
                {{!-- Site Title --}}
                <span class="header__title">{{@site.title}}</span>
            {{/if}}
        {{/link}}

         {{!-- Menu --}}
        <nav class="header__menu flex">
            {{!-- Main navigation --}}
            {{navigation classes="flex"}}
        </nav>

        <div class="header__buttons flex items-center">
            {{!-- Native Search --}}
            <button class="header-search__toggle" data-ghost-search title="{{t "Search"}}" aria-label="{{t "Search"}}">
                {{> icon name='search'}}
            </button>

            {{!-- Sign in Button --}}
            {{#if @site.members_enabled}}
                {{#if @member}}
                    <a href="{{@site.url}}/account/" class="header__user header-button">
                        {{> icon name='account'}}
                    </a>
                {{else}}
                    <a href="/sign-in/" class="btn signin-link header-button">{{t "Sign in"}}</a>
                {{/if}}
            {{/if}}

            <div class="header-mobile-nav">
                {{> icons/menu}}
                {{> icons/close}}
            </div>

        </div>
    </div>
</header>

