<a href="{{url}}" class="tag tag-{{slug}} {{#if accent_color}}colorful{{/if}}">{{name}}</a>

{{#if accent_color}}
    <style>
        .tag-{{slug}}.colorful {
            background: {{accent_color}}0D;
            color: {{accent_color}};
        }
    </style>
{{/if}}