{{!< default}}


{{#post}}

<div class="container wrapper container--breadcrumbs">
    <aside>
        <nav class="breadcrumbs" aria-label="breadcrumbs">
            <ol class="flex items-start list--unstyled">
                <li><a href="{{@site.url}}">Home</a><span>{{> icons/arrow-right-thin}}</span></li>
                <li><a href="{{@site.url}}/categories">Categories</a><span>{{> icons/arrow-right-thin}}</span></li>
                <li><a href="{{@site.url}}/tag/{{primary_tag.slug}}">{{primary_tag.name}}</a><span>{{> icons/arrow-right-thin}}</span></li>
                <li class="breadcrumbs__current"><a href="{{@site.url}}/{{title}}" aria-current="location">{{title}}</a></li>
            </ol>
        </nav>
    </aside>
</div>

<div class="wrapper container container--post">
    <article class="post-page {{post_class}}">

        <header class="post-header canvas">

            {{> tags-loop classes="size-m post-header__tags"}}
            <h1 class="post-header__title">{{title}}</h1>

            {{#if custom_excerpt}}
            <p class="post-header__excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> authors}}

            {{#if feature_image}}
            <figure class="post-header__feature-image">
                {{> image
                    image_type="post"
                    image_class="lazyload"
                    image_url=feature_image
                    size_l=true
                    size_m=true
                    loading="lazy"
                }}
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}

        </header>

        <div class="post-content canvas">
            {{content}}
        </div>

        {{> cta classes="post" margin-bottom=true margin-top=true}}

        <footer class="post-footer">

            {{#if comments}}
            <section class="comments">
                {{comments}}
            </section>
            {{/if}}

        </footer>

    </article>

    {{#get
    'posts'
    include='tags,authors'
    limit='2'
    filter='id:-{{id}}+tag:[{{primary_tag.slug}}]'
    }}

    {{#if posts}}
        <aside class="post-read-more">
                <section class="cards-loop{{classes}}">
                    <h2 class="cards-loop__title">{{t "Read next"}}</h2>
                    
                    <ul class="cards-loop__cards flex list--unstyled">
                        {{#foreach posts}}
                            {{> post-card classes="width-half"}}
                        {{/foreach}}
                    </ul>
                </section>
            </aside>
    {{/if}}

    {{/get}}
</div>

{{/post}}