{{!< default}}


{{#post}}

<aside>
    <nav class="breadcrumbs" aria-label="breadcrumbs">
        <ol class="flex items-center">
            <li><a class="link" href="{{@site.url}}">Home</a><span>{{> icons/arrow-right-thin}}</span></li>
            <li><a class="link" href="{{@site.url}}/categories/">Categories</a><span>{{> icons/arrow-right-thin}}</span></li>
            <li class="breadcrumbs__current"><a href="{{@site.url}}/{{slug}}/" aria-current="location">{{title}}</a></li>
        </ol>
    </nav>
</aside>

<article class="gh-article {{post_class}}">

    <header class="gh-header gh-canvas">

        {{> tags-loop classes="size-m gh-header__tags"}}
        <h1 class="gh-title heading-1">{{title}}</h1>

        {{#if custom_excerpt}}
        <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{> authors}}

        {{#if feature_image}}
        <figure class="gh-feature-image">
            {{> image
                image_type="post"
                image_class="lazyload"
                image_url=feature_image
                size_l=true
                size_m=true
                loading="lazy"
            }}
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}

    </header>

    <div class="gh-content gh-canvas">
        {{content}}
    </div>

    {{> cta classes="post" margin-bottom=true margin-top=true}}

    <footer class="gh-footer gh-canvas">

        {{#if comments}}
        <section class="gh-post-comments">
            {{comments}}
        </section>
        {{/if}}

    </footer>

</article>

{{#get
  'posts'
  include='tags,authors'
  limit='2'
  filter='id:-{{id}}+tag:[{{primary_tag.slug}}]'
}}

  {{#if posts}}
       <aside class="post-read-more">
            <section class="cards-loop mr-big-b {{classes}}">
                <h2 class="cards-loop__title mr-md-b heading-2">{{t "Read next"}}</h2>
                
                <ul class="cards-loop__cards flex">
                    {{#foreach posts}}
                        {{> post-card classes="width-half"}}
                    {{/foreach}}
                </ul>
            </section>
        </aside>
  {{/if}}

{{/get}}

{{/post}}