{{!< default}}

{{#if @member}}
    <script>window.location = '{{@site.url}}';</script>
{{/if}}

{{#page}}

    <div class="container wrapper">
        <section class="login-page flex {{#if feature_image}} has-image items-center {{/if}}">
            {{#if feature_image}}
                <figure class="login-page__feature-image">
                    {{> image
                        image_type="site"
                        image_class="lazyload"
                        image_url=feature_image
                        size_l=true
                        loading="lazy"
                    }}
                </figure>
            {{/if}}
            <div class="login-page__text  flex flex-col">
                {{#link href=@site.url class="login-page__logo"}}
                    {{#if @site.logo}}
                        {{> image
                        image_type="site"
                        image_class="lazyload"
                        image_url=@site.logo
                        size_m=true
                        loading="lazy"
                        }}
                    {{else}}
                        <span class="login-page__logo-text">{{@site.title}}</span>
                    {{/if}}
                {{/link}}
                <h1 class="login-page__title">{{t "Get started with"}} {{@site.title}}</h1>
                <form class="sign-in-form flex {{^if feature_image}} items-center {{/if}} flex-col" data-members-form="signup">
                    <input data-members-name class="sign-in-form__input" placeholder="Your name" type="name">
                    <input data-members-email class="sign-in-form__input" placeholder="Your e-mail@gmail.com" type="email">
                    <div class="msg-success animate">{{t "Great! Check your inbox and click the link."}}</div>
                    <div data-members-error class="msg-error animate"></div>
                    <button class="sign-in-form__button btn">{{t "Send sign-up link"}}</button>
                </form>
                <p class="login-page__info">{{t "Already have an account? "}} <a class="link" href="{{@site.url}}/sign-in/">{{t "Sign in"}}</a></p>
            </form>
            </div>
        </section>
    </div>

{{/page}}